<%- include ('_layouts/header') -%>
<div class="container">
        <center>
    <h1> <%- name %> </h1>
    </center> 
    <div class="row">
        <div class="col-md-6">
            <img  src="/product_images/<%= id %>_<%= image %>" alt="<%= name %>" width="100%" height="100%" >
        </div>
        <div class="col-md-6 " >
            <br>
        
            <br>
            <br>
          
             
              
            <br>
            <span style="font-size:large;">
            <b>Category</b> -<%- category %>
            </span>
            <br>
            <span style="font-size:large;">
            <b>Suggested Use</b> - <%- suggesteduse %>
        </span>
            <br>
            <span style="font-size:large;">
               <b>Availability</b> - <%- flavour %>
            </span>
                <br>

            <br><br>
      
            <a href="/products/all" class="btn btn-primary">Go back</a>

            <!-- <a href="/products/all" class="btn btn-primary">Go back</a> -->

           
        </div>
    </div>
</div>

<%- include ('_layouts/footer') -%>