<%- include ('_layouts/header') -%>
<br><br>
<div class="container">
<h1 style="text-align:center" ><%= products.length %> matches found for category '<%= category %>'</h1>
<br>
<hr>
<br>
<div class="row small-up-2 medium-up-3 large-up-2">
  


<% if(category == "Microgreens"){ %>
  <p style="font-size: medium;">
   <b> Microgreens</b> are the seedlings of vegetables and herbs. The baby plants from the seeds of vegetables and herbs is considered a <b>Microgreen</b>. <br>
Several studies have demonstrated the high level of phytonutrients, antioxidant, vitamins, and minerals that Microgreens contain. Due to their high antioxidant content, Microgreens are considered a functional food, a food that promotes health or prevents disease and increases Immune system. Researchers found some Microgreens contain up to 40 times higher levels of vital Nutrients than their mature counterparts. They have strong concentrated flavour too. Microgreens are very good source of Energy and Health for Vegetarians. The Plant-based foods like Microgreens also support a healthy complexion, increased energy, lower weight, and longer life expectancy.
<br>
Microgreen are eaten Raw. It is used in Sandwiches, as topping to Pizza, added to your salads, one can make a healthy salad bowl or Smoothie and many other uses.
  </p>
  <% } %>

<br>
    <% products.forEach(function(product){ %> 
      <div class="column column-block" >
        <div class="card" style="width: 25rem;padding: 5px 5px;margin-left: 20px;">
          <a href="/products/details/<%= product._id %>">
            <img class="card-img-top" src="/product_images/<%= product._id %>_<%= product.image %>" alt="<%= product.name %>" width="200" height="200">
          </a>
            <div class="card-body">
              <h5 class="card-title" style="font-size: large;"><%= product.name %></h5>
              <!-- <p class="card-text" style="font-size: medium;">Category : <%= product.category %></p> -->
              
              <a href="/products/details/<%= product._id %>" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;">Get Details</a>
              <br>  <br>
    
        </div>
      </div>
      <br>
    </div>

    <% }); %>
  </div></div>

  <%- include('_layouts/footer') -%>